/*
input[type=text], input[type=url] {
    font-size:16px; 
    margin-bottom:15px;        
    width: 300px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    .transition;
    outline: none;
    border: 1px solid #DDDDDD;
}
*/
.txtNormal{font-family:'Open Sans'!important;font-style:normal;font-weight:400}.transition{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out}a{color:#e67b10;text-decoration:none}a:hover{color:#a93a03;text-decoration:underline}:required{border-color:#a93a03}.header{height:60px;background-color:#a93a03}.container-narrow{top:60px;max-width:700px;margin:0 auto}.project-thumbnail{width:300px}.footer{height:100px;background-color:#e67b10}.tag-editor{width:500px}.tag-view{background-color:#e0d5bc;padding:8px}.tag-view .tag-view-text{font-size:15px;font-family:'Open Sans';color:755 e3b}.tag-view .x-button{background:url(../img/icon-x.png) no-repeat}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
