/*
 * ----------------------------------------------------
 * 
 * VARIABLES
 * 
 * ----------------------------------------------------
 */

@deepRed: #a93a03;
@lightGrey: #F9F9F9;
@mediumGrey: #e0e0e0;
@mediumDarkGrey: #cecece;
@darkGrey: #474747;
@headerGrey: rgb(122, 122, 122);

@defaultWidth: 670px;

/*
 * ----------------------------------------------------
 * 
 * MIXINS
 * 
 * ----------------------------------------------------
 */

.txtNormal {
  font-family: 'Open Sans' !important;
  font-weight: 400;
   font-style: normal;
}

.txtItalic {
  font-family: 'Open Sans' !important;
  font-weight: 400;
   font-style: italic;
}

.txtSemi {
  font-family: 'Open Sans' !important;
  font-weight: 600;
   font-style: bold;
}

.headerMain {
  font-family: 'Antic Slab' !important;
  font-weight: 400;
   font-style: normal;
}

.headerHandwriting {
  font-family: 'Arizonia' !important;
  font-weight: 400;
   font-style: normal;
}

.transition( @speed: 0.30s ) {
  -webkit-transition: all @speed ease-in-out;
     -moz-transition: all @speed ease-in-out;
      -ms-transition: all @speed ease-in-out;
       -o-transition: all @speed ease-in-out;
}

.box-shadow-default( @color: #fff ) {
  -webkit-box-shadow: 0px 1px 0px 0px @color;
          box-shadow: 0px 1px 0px 0px @color;
}

.border-radius ( @radius: 5px ) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.text-shadow-default( @x: 1px, @color: #fff ) {
  text-shadow: @x 1px 1px @color;
}


.border-bottom-grey {
  border-bottom: 1px solid @mediumDarkGrey;
  .box-shadow-default;
}

.border-bottom-grey-dashed {
  border-bottom: 1px dashed @mediumDarkGrey;
  .box-shadow-default;
}

.border-bottom-grey-dotted {
  border-bottom: 1px dotted @mediumDarkGrey;
  .box-shadow-default;
}

.greyscale-img {
    -webkit-filter: grayscale(100%);
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray;
}

/*
 * ----------------------------------------------------
 * 
 * BOILERPLATE
 * 
 * ----------------------------------------------------
 */

html, body {
    .txtNormal;
    .text-shadow-default;
     background: url(../img/background.jpg) repeat;
          color: @darkGrey;
}

a {
  text-decoration: none;
            color: @deepRed;
}

a:hover {
  .border-bottom-grey-dotted;
  text-decoration: none;
            color: @deepRed;
}

/*
 * ----------------------------------------------------
 * 
 * START MAIN
 * 
 * ----------------------------------------------------
 */

// ----------------------------------------------------
// HEADER / NAV
// ----------------------------------------------------

.header {
  .box-shadow-default(@mediumGrey);
  background-color: rgba(224, 224, 224, 0.95);
     border-bottom: 1px solid #fff;
        margin-top: 0px;
           padding: 0px;
            height: 50px;
          position: fixed;
               top: 0;
             right: 0;
              left: 0;
           z-index: 1030;
}

.nav-inner {
   width: @defaultWidth;
  margin: 0 auto;
  
  .nav-inner-selected {
          color: @deepRed !important;
     border-top: 8px solid @deepRed;
    padding-top: 4px !important;
  }
  
  .img-logo {
    .headerMain;
    padding-top: 14px;
      font-size: 22px;
         cursor: pointer;
         color: rgb(165, 165, 165);
  }
}

.nav-item {
  .headerMain;
  text-decoration: none;
   padding-bottom: 5px;
      padding-top: 12px;
      margin-left: 30px;
        font-size: 20px;
           cursor: pointer;
            float: right;
            color: @darkGrey;
}

.nav-item:hover {
  color: @deepRed;
}

.project-list {
  width: 100%;
}

.top-shim {
  height: 60px;
}

.container-narrow {
  max-width: @defaultWidth;
     margin: 0 auto;
}

.content {
  // ???
}

// ----------------------------------------------------
// HOME
// ----------------------------------------------------

#b_view_projects {
  margin-top: -45px;
       float: right;
}

.top-intro {
  margin-bottom: 60px;
    line-height: 36px;
     text-align: justify;
          width: @defaultWidth;
}

.spacer {
  .headerHandwriting;
  .box-shadow-default;
  .text-shadow-default;
  border-bottom: 1px solid @mediumDarkGrey;
  margin-bottom: 30px;
      font-size: 44px;
        padding: 30px 0px 8px 10px;
          color: @headerGrey;
}


// ----------------------------------------------------
// FOOTER
// ----------------------------------------------------


.footer-inner-services {
  background-color: @mediumGrey;
        border-top: 1px solid rgba(200, 200, 200, 1);
  
  .footer-services {
    background-color: @mediumGrey;
         padding-top: 35px;
              margin: 0 auto;
              height: 450px;
               width: @defaultWidth;

    .services-column {
      padding-right: 5px;
      margin-bottom: 40px;
      
      ul {
        .text-shadow-default;
        list-style: none;
         font-size: 12px;
            margin: 0;
        
        li {
          line-height: 26px;
        }
      }
    }
  }
}

.services-header {
  .headerMain;
  .text-shadow-default;
  font-size: 18px;
      color: @darkGrey;
}

.services-header-bottom {
  .box-shadow-default(@lightGrey);
  margin-bottom: 10px;
  border-bottom: 1px solid @mediumDarkGrey;
     padding-top: 5px;
}

.services-tech-list {
  padding: 10px 0px;
}

.services-tag-view {
  .txtSemi;
  .border-radius(10px);
  .box-shadow-default;
  .text-shadow-default(0px);
  margin-bottom: 10px;
   margin-right: 6px;
      font-size: 12px;
        padding: 2px 12px;
         border: 1px solid rgb(187, 187, 187);
          color: @darkGrey;
          float: left;
}

.services-tag-lang {
  background-color: rgb(204, 204, 204);
}

.services-tag-tech {
  background-color: rgb(230, 230, 230);
}

.footer-inner-details {
  border-top: 1px solid @mediumDarkGrey;
  
  .footer-details {
    padding-top: 10px;
         height: 150px;
         margin: 0 auto;
          width: @defaultWidth;
    
    .footer-contact {
      .box-shadow-default(@lightGrey);
      padding-bottom: 10px;
       margin-bottom: 10px;
       border-bottom: 1px solid @mediumDarkGrey;
          text-align: center;
           font-size: 12px;
    }
    
    .footer-colophon {
      .headerMain;
      text-align: center;
       font-size: 14px;
           color: #000;

      .colophon-git {
        .headerHandwriting;
        margin-top: 18px;
         font-size: 20px;
      }
    }
  }
}




// ----------------------------------------------------
// PROJECTS
// ----------------------------------------------------

.project-thumbnail {
  margin: 30px 0px;
   width: @defaultWidth;
  
  .project-title {
    .headerMain;
    .text-shadow-default;
    .border-bottom-grey-dashed;
    font-size: 20px;
      padding: 13px 0px 8px 0px;
  }
  
  .project-client {
    color: @darkGrey;
  }
  
  .project-subtitle {
    color: @deepRed;
  }
}

#b_view_github {
       float: right;
  margin-top: -45px;
}

.project-baseline {
  text-align: center;
     padding: 0px 0px 30px 0px;
       width: 100%;
}
  
.project-thumbnail-minimized {
  // ???
}

.project-thumbnail-expanded {
  // ???
}

.project-details {
  display: none;
}

.project-hero-img {
  .box-shadow-default;
  .transition;
  background-color: @lightGrey;
            border: 1px solid rgb(204, 204, 204);
            margin: 15px 0px 0px 0px;
             width: @defaultWidth;
  .hero-img-wrapper {
    margin: 10px;
    height: 350px;
     width: 650px;
     
     .hero-img {
       border: 1px solid @lightGrey;
     }
  }
  
}

.project-thumbnail-list {
  margin-left: 12px;
      display: none;
  
  
  .project-thumb-img {
    margin-right: 12px !important;
          border: 1px solid @mediumGrey;
           float: left;

    img {
      background: #000;
         display: inline-block;
         padding: 0;
          cursor: pointer;
    }
  }
  
  .thumb-deselected {
    .greyscale-img;
  }
}

.project-hero-img-collapsed {
  height: 370px;
  
  img {
    cursor: pointer;
  }
}

.project-hero-img-expanded {
  background-color: @darkGrey;
            height: 465px;
  
  img {
    cursor: auto;
  }
}

.project-hero-img:hover {
  background-color: @darkGrey;
}

.project-desc {
  .transition;
  .text-shadow-default;
  line-height: 36px;
   text-align: justify;
   margin-top: 25px;
    font-size: 20px;
        width: @defaultWidth;
}

.project-desc-minimized {
  display: none;
}

.project-desc-expanded {
  display: block;
}

.details-button {
  .text-shadow-default(0px);
  .box-shadow-default;
  .border-radius(2px);
  .transition;
  .txtSemi;
  background-color: rgb(204, 204, 204);
         font-size: 14px;
           padding: 3px 12px;
            border: 1px solid rgb(187, 187, 187);
            cursor: pointer;
             color: @darkGrey;
}

#b_details {
  margin-top: -15px;
       float: right;
}

.details-button:hover {
  background-color: rgb(185, 185, 185);
            border: 1px solid rgb(160, 160, 160);
}

.view-button {
  .text-shadow-default(0px);
  .box-shadow-default;
  .border-radius(2px);
  .transition;
  .txtSemi;
  background-color: rgb(204, 204, 204);
      margin-right: 5px;
         font-size: 14px;
           padding: 3px 12px;
           display: none;
            border: 1px solid rgb(187, 187, 187);
            cursor: pointer;
             color: @darkGrey;

  img {
    .box-shadow-default;
    margin-right: 5px;
      margin-top: -2px;
  }
}

#b_view {
  margin-top: -15px;
       float: right;
}

.view-button:hover {
  background-color: rgb(185, 185, 185);
            border: 1px solid rgb(160, 160, 160);
}


// ----------------------------------------------------
// TAGS
// ----------------------------------------------------

.tag-list {
  padding: 16px 0px 12px 0px;
   height: 20px;
}

.tag-list-role {
  .border-bottom-grey-dashed;
  height: 35px;
}

.tag-view {
  .txtSemi;
  .box-shadow-default;
  .border-radius(10px);
  .text-shadow-default(0px);
  margin-right: 6px;
     font-size: 10px;
       padding: 0px 8px;
        border: 1px solid rgb(187, 187, 187);
         color: @darkGrey;
         float: left;
}

.tag-tech {
  background-color: rgb(220, 220, 220);  
}

.tag-role {
  background-color: rgb(245, 245, 245);
            border: 1px solid rgb(211, 211, 211);
}
  