<!--
<img src="img/project_ph.jpg" height="200" width="300" alt="">
<br>
<%= name %> :: <a href="#detail/<%= pid %>"><%= subtitle %></a>
-->
<div class="project-hero-img project-hero-img-collapsed">
	<img class="hero-img" src="img/summary_ph.jpg">
	<div class="project-thumbnail-list">
		<!--
		<img class="thumb-selected" src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		-->
	</div>
</div>
<div class="project-title">Company : <span class="project-subtitle"> Title Name</span></div>
<div class="tag-list">
	<div class="tag-view tag-tech">PHP</div>
	<div class="tag-view tag-tech">MySQL</div>
	<div class="tag-view tag-tech">JS</div>
	<div class="tag-view tag-role">Design</div>
	<div class="tag-view tag-role">Front-End Dev</div>
</div>

<div class="project-desc project-desc-minimized">
	Periscopic, a Portland design agency, hired me to implement a complex data visualization application they’d designed, whose purpose was to provide multiple ways to view and sort sockeye salmon spawning data for the past 60 years. I came in as lead architect directing a small team of internal developers and developed the Flex architecture and most of the core components of the piece, including a graph able to handle and aggregate hundreds of data lines and a modeling feature using a physics-heavy exploration view of the data. I also handled the internal navigation, deep linking, and the loading of smaller Flash elements. The application went on to win an award from Communication Arts and was a finalist at the Adobe MAX Awards.
</div>

<div class="project-baseline">
	<div class="dotted-baseline"></div>
	<div class="solid-baseline"></div>
	<div class="dotted-baseline"></div>
</div>