<!--
<img src="img/project_ph.jpg" height="200" width="300" alt="">
<br>
<%= name %> :: <a href="#detail/<%= pid %>"><%= subtitle %></a>
-->
<div class="project-hero-img project-hero-img-collapsed">
	<img class="hero-img" width="650" height="350">
	<div class="project-thumbnail-list"></div>
</div>
<div>
	<div class="project-title"><span class="project-client"><%= name %> </span> : <span class="project-subtitle"><%= subtitle %></span></div>
	<div id="b_details" class="details-button"><span>+ Show Details</span></div>
</div>


<div class="tag-list"></div>
<div class="tag-list-role"></div>

<div class="project-desc project-desc-minimized"><%= desc %></div>

<div class="project-baseline"></div>