<!--
<img src="img/project_ph.jpg" height="200" width="300" alt="">
<br>
<%= name %> :: <a href="#detail/<%= pid %>"><%= subtitle %></a>
-->
<div class="project-hero-img project-hero-img-collapsed">
	<img class="hero-img">
	<div class="project-thumbnail-list">
		<!--
		<img class="thumb-selected" src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		<img src="img/thumbnails/thumb_ph.jpg" />
		-->
	</div>
</div>
<div>
	<div class="project-title"><span class="project-client"><%= name %> </span> : <span class="project-subtitle"><%= subtitle %></span></div>
	<div id="b_details" class="details-button"><span>+ More</span></div>
</div>


<div class="tag-list">
	<div class="tag-view tag-tech">PHP</div>
	<div class="tag-view tag-tech">MySQL</div>
	<div class="tag-view tag-tech">JS</div>
	<div class="tag-view tag-role">Design</div>
	<div class="tag-view tag-role">Front-End Dev</div>
</div>

<div class="project-desc project-desc-minimized"><%= desc %></div>

<div class="project-baseline">~</div>
<!--
<div class="project-baseline">
	<div class="dotted-baseline"></div>
	<div class="solid-baseline"></div>
	<div class="dotted-baseline"></div>
</div>
-->